# pnpm config
shamefully-hoist=false
strict-peer-dependencies=false
auto-install-peers=true
node-linker=isolated

# Faster installs
prefer-frozen-lockfile=true
side-effects-cache=true

# Security
audit-level=high
